[workspace]
resolver = "2"
members = [ "pumpkin-macros", "pumpkin-protocol/", "pumpkin-registry/", "pumpkin-world", "pumpkin/"]

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
lto = true

