[package]
name = "pumpkin"
version = "0.1.0"
edition = "2021"

[dependencies]

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

rand = "0.8.5"

rsa = "0.9.6"
rsa-der = "0.3.0"

aes = "0.8.4"
cfb8 = "0.8.1"
flate2 = "1.0.30"
bytes = "1.7"

anyhow = "1.0.86"

base64 = "0.22.1"
image = { version = "0.25", default-features = false, features = ["png"]}

simple_logger = "5.0.0"
log = "0.4"
mio = { version = "1.0.1", features = ["os-poll", "net"]}
crossbeam-channel = "0.5.13"
uuid = "1.10"
toml = "0.8.17"
fastnbt = "2.5.0"
fastsnbt = "0.2"


